.info {
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.image {
    height: 260px;
    width: auto;
}

.name {
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.button {
    width: fit-content;
    justify-self: flex-end;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
    border-radius: 10px;
    padding-bottom: 16px;
    max-height: 480px;
 }

 